@import "../styles/mixin.scss";

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse; /*avoid double border*/
  text-align: left; /*table data text content alignment*/
}

th,
td {
  padding: 15px; /*Cell padding is the space between the cell edges and the cell content. apply for <td> or <th>*/
}

table {
  border-spacing: 30px; /*Cell spacing is the space between each cell. apply for <table>*/
}

tr:nth-child(odd) {
  background-color: #d6eeee;
}
th {
  background-color: #ffe48ade;
}

tr {
  border-bottom: 1px solid #ddd; /*Horizontal Dividers*/
}

tr:hover {
  background-color: #ddd;
}

.table {
  &__container {
    max-height: calc(100vh - 360px);
    height: calc(100vh - 297px);
    border-radius: 10px;
    overflow-y: scroll;
    position: relative;
    padding: 10px;
  }
  &__header {
    max-height: 30px;
    height: 30px;
    &__sort-img {
      position: absolute;
      right: 5px;
      width: 15px;
      cursor: pointer;
    }
    &--sticky {
      position: sticky;
      top: -12px;
    }
  }

  &__loading {
    @include align-center-absolute;
  }
}
