@import "../styles/mixin.scss";

.search-bar {
  &__container {
    @include align-h-center;
    justify-content: flex-start;
    height: 60px;
    border-radius: 15px;
  }

  &__content {
    @include align-h-center;
    justify-content: space-between;
    margin: 0 10px;
  }

  &__icon {
    &--search {
      content: url("../../public/images/search.png");
    }

    &--success {
      content: url("../../public/images/checked.png");
    }
    width: 20px;
    height: 20px;
    -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;

    cursor: pointer;
    transition: transform 0.2s linear;

    &:hover {
      // @include theme-aware('background', 'colorLinearGradient', 'colors');
      transform: scale(1.2);
    }
  }
}
