@import '../../styles/mixins.scss';
@import '../../theme/theme-aware.scss';

.pagination {
    &__container {
        @include align-h-between;
        margin-top: 10px;
        width: 100%;

        &--attach {
            @include align-h-between;
            justify-content: flex-end;
        }
    }

    &__info {
        @include theme-aware('color', 'textColorRow', 'colors');
    }

    &__area {
        @include align-h-center;
        @include theme-aware('color', 'textColorRow', 'colors');
        @include theme-aware('background', 'colorLinearGradientTable', 'colors');
        padding: 4px 10px;
        border-radius: 15px;
        box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    }

    &__pg-button {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        @include theme-aware('font-family', 'fontRegular', 'fonts');
        @include theme-aware('color', 'textColor', 'colors');

        &--active {
            @include theme-aware('background', 'colorLinearGradient', 'colors');
            @include theme-aware('color', 'textColorActive', 'colors');
        }
    }

    &__pg-input {
        height: 40px;
        flex: 1;

        & div {
            height: 30px;
            @include theme-aware('color', 'textColorRow', 'colors');
        }
    }

    &__prev {
        height: 40px;
        flex: 1;
        @include theme-aware('color', 'textColorRow', 'colors');

        & div {
            height: 30px;
        }
    }

    &__icon {
        @include theme-aware('color', 'textColor', 'colors');
        --disabled {
            @include theme-aware('color', 'textColorInactive', 'colors');
        }
    }
}

.no-content {
    &__container {
        @include align-v-center;
        @include theme-aware('color', 'textColorRow', 'colors');
        padding: 1rem;
    }

    &__icon {
        @include theme-aware('content', 'noContent', 'images');
        @include icon-size-small-40;
    }

    &__text {
        padding-top: 0.5rem;
        font-size: 1.1rem !important;
        text-transform: capitalize;
    }
}
